.bowerrc
.DS_Store
package.json
Gruntfile.js
config.rb
/node_module/*
/sass/*

vendors/bootstrap/*
!/vendors/bootstrap/dist/*
!/vendors/bootstrap/fonts/*

/vendors/font-awesome/*
!/vendors/font-awesome/css/*
!/vendors/font-awesome/fonts/*

/vendors/jquery/*
!/vendors/jquery/dist/*

/node_modules/*
